In [1]:
from bs4 import BeautifulSoup
import requests

In [2]:
url = 'https://scraping-for-beginner.herokuapp.com/udemy'

In [3]:
r = requests.get(url)

In [4]:
soup = BeautifulSoup(r.text, 'html.parser')

In [5]:
name = soup.select('.card-title')[0].string
name

'今西 航平'

In [6]:
n_subscribers = soup.select('.subscribers')[0].string
n_subscribers

'受講生の数：3328'

In [7]:
n_subscribers = int(n_subscribers.split('：')[1])
n_subscribers

3328

In [8]:
n_reviews = soup.select('.reviews')[0].string
n_reviews

'レビューの数：298'

In [9]:
n_reviews = int(n_reviews.split('：')[1])
n_reviews

298

In [22]:
results = {
    'name': name,
    'n_subscribers': n_subscribers,
    'n_reviews': n_reviews
}

In [23]:
results

{'name': '今西 航平', 'n_subscribers': 3328, 'n_reviews': 298}

In [24]:
import pandas as pd

In [25]:
df = pd.read_csv('assets/data.csv')

In [26]:
df.head()

        date  subscribers  reviews
0  2019/1/17         2671      194
1  2019/1/18         2671      195
2  2019/1/19         2674      197
3  2019/1/20         2685      199
4  2019/1/21         2695      199

In [27]:
df.tail()

         date  subscribers  reviews
82   2019/4/9         3300      291
83  2019/4/10         3306      293
84  2019/4/11         3312      295
85  2019/4/12         3319      295
86  2019/4/13         3324      295

In [28]:
import datetime

In [29]:
date = datetime.datetime.today().strftime('%Y/%-m/%-d')
date

'2019/4/14'

In [30]:
subscribers = results['n_subscribers']
reviews = results['n_reviews']

In [31]:
subscribers

3328

In [32]:
reviews

298

In [34]:
results = pd.DataFrame([[date, subscribers, reviews]], columns=['date', 'subscribers', 'reviews'])
results

        date  subscribers  reviews
0  2019/4/14         3328      298

In [36]:
df = pd.concat([df, results])
df.tail()

         date  subscribers  reviews
83  2019/4/10         3306      293
84  2019/4/11         3312      295
85  2019/4/12         3319      295
86  2019/4/13         3324      295
0   2019/4/14         3328      298

In [37]:
df.to_csv('assets/data.csv', index=False)

- Udemyから情報を取ってくる関数（`get_udemy_info`）
- CSVに書き込む関数（`write_data`）

In [39]:
def get_udemy_info():
    url = 'https://scraping-for-beginner.herokuapp.com/udemy'

    r = requests.get(url)
    soup = BeautifulSoup(r.text, 'html.parser')

    name = soup.select('.card-title')[0].string

    n_subscribers = soup.select('.subscribers')[0].string
    n_subscribers = int(n_subscribers.split('：')[1])

    n_reviews = soup.select('.reviews')[0].string
    n_reviews = int(n_reviews.split('：')[1])

    results = {
        'name': name,
        'n_subscribers': n_subscribers,
        'n_reviews': n_reviews
    }

    return results

In [40]:
def write_data():
    df = pd.read_csv('assets/data.csv')

    # 新規のデータ
    _results = get_udemy_info()

    # 書き込むデータ
    date = datetime.datetime.today().strftime('%Y/%-m/%-d')
    subscribers = _results['n_subscribers']
    reviews = _results['n_reviews']
    results = pd.DataFrame([[date, subscribers, reviews]], columns=['date', 'subscribers', 'reviews'])

    df = pd.concat([df, results])
    df.to_csv('assets/data.csv', index=False)